<h1><%= @flat["name"] %></h1>
<p><%= @flat["price"] %> <%= @flat["priceCurrency"] %></p>
<%= image_tag @flat['imageUrl'], alt: "Image text", width: 300 %>

<%= link_to "Back to all flats", root_path %>
